<?php
if ($this->getUser()){
    $user = $this->getUser();
} else {
   header('HTTP/1.0 404 Not Found');
   exit;
}
?>

<table>
    <tr>
        <td>
            id
        </td>
        <td>
            <?php if ($user['id']) { echo $user['id']; } ?>
        </td>
    </tr>
    <tr>
        <td>
            name
        </td>
        <td>
            <?php if ($user['name']) { echo $user['name']; } ?>
        </td>
    </tr>
    <tr>
        <td>
            avatar
        </td>
        <td>
            <?php if ($user['avatar']) { echo $user['avatar']; } ?>
        </td>
    </tr>
    <tr>
        <td>
            date of birth
        </td>
        <td>
            <?php if ($user['dob']) { echo $user['dob']; } ?>
        </td>
    </tr>
    <tr>
        <td>description</td>
        <td>
            <?php if ($user['description']) { echo $user['description']; } ?>
        </td>
    </tr>
</table>
