<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$model=$objectManager->create('Add\Information\Model\Users');
$dataCollection=$model->getCollection();

echo "<table border=1><tr align=center><th>Id</th><th>Name</th><th>Avatar</th><th>Date of birth</th><th>Description</th></tr>";
foreach ($dataCollection as $data) {
    echo "<tr align=center>";
    echo "<td>".$data->getId()."</td>";
    echo "<td>".$data->getName()."</td>";
    echo "<td>".$data->getAvatar()."</td>";
    echo "<td>".$data->getDob()."</td>";
    echo "<td>".$data->getDescription()."</td>";
    echo "</tr>";
}
echo "</table>";
?>
