<form action="/m0001/add/store/save">
    name: <input name="name" type="text">
    avatar: <input name="avatar" type="text">
    dob: <input type="text" name="dob">
    description: <input type="text" name="description">
    <button type="submit">add</button>
</form>
